In [1]:
from collections import defaultdict
from itertools import product
from random import seed

import seaborn as sns
import numpy as np
from tqdm import tqdm

from strategies.greedy_cycle.cheapest_insertion import CheapestInsertion
from api.instance import Instance
from strategies.local_search.local_search import LocalSearch
from strategies.local_search_candidates_moves.local_search_candidates_moves import LocalSearchWitchCandidatesMoves
from strategies.ls_cache.local_search_with_cache import LocalSearchWitchCache
from utils.utils import draw_solution
import pandas as pd

sns.set()
df = pd.DataFrame(columns=['strategy','instance', 'cost', 'time'])
for instance_name in ['kroA200', 'kroB200']:
    instance = Instance(name=instance_name)
    solve_strategy1: LocalSearch = LocalSearch(
        instance=instance,
        version="steepest",
        neighbourhood="edge",
    )
    solve_strategy2: LocalSearchWitchCandidatesMoves = LocalSearchWitchCandidatesMoves(instance=instance)
    solve_strategy3: LocalSearchWitchCache = LocalSearchWitchCache(instance=instance)
    
    solve_strategies = {}
    solve_strategies["Local_search"] = solve_strategy1
    solve_strategies["LM"] = solve_strategy3
    solve_strategies["Candidate_moves"] = solve_strategy2
    
    for str_id in solve_strategies.keys():
        solve_strategy = solve_strategies[str_id]
        solve_strategy.run(run_times=10)
        for s, cost, time in solve_strategy.solutions:
            df = df.append(pd.DataFrame([[str_id, instance_name, cost, time]], columns=['strategy','instance', 'cost', 'time']))
        costs = list(map(lambda x: x[1], solve_strategy.solutions))
        draw_solution(
            instance=instance,
            solution=solve_strategy.solution,
            title=f'{str_id}, {instance.name}, distance: {solve_strategy.solution_cost}, ',
            save_file_name=f'{instance.name}_{min(costs)}_{str_id}.png'
        )
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>strategy</th>
      <th>instance</th>
      <th>cost</th>
      <th>time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>17645</td>
      <td>14.854754</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>17791</td>
      <td>14.188686</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>18134</td>
      <td>14.767562</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>17704</td>
      <td>13.787618</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>15658</td>
      <td>11.219060</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>18369</td>
      <td>9.054381</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>16835</td>
      <td>12.245906</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>17020</td>
      <td>14.600815</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>16359</td>
      <td>8.571649</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroA200</td>
      <td>17212</td>
      <td>6.552470</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>19057</td>
      <td>6.186481</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>17190</td>
      <td>6.192404</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>19516</td>
      <td>5.328745</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>16717</td>
      <td>7.334377</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>17225</td>
      <td>6.105774</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>17708</td>
      <td>6.921484</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>17922</td>
      <td>4.822101</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>17331</td>
      <td>5.814477</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>17461</td>
      <td>9.183434</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroA200</td>
      <td>17503</td>
      <td>6.807788</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>33906</td>
      <td>10.377253</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>26207</td>
      <td>17.061342</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>29226</td>
      <td>16.862718</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>30647</td>
      <td>16.799096</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>35974</td>
      <td>17.967112</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>35156</td>
      <td>14.106296</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>30471</td>
      <td>18.201275</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>31931</td>
      <td>19.972997</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>25505</td>
      <td>26.797312</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroA200</td>
      <td>29746</td>
      <td>26.503670</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>16801</td>
      <td>12.727951</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>16888</td>
      <td>8.811461</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>17041</td>
      <td>9.502543</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>17185</td>
      <td>10.729298</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>17366</td>
      <td>10.922978</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>16949</td>
      <td>8.244978</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>17217</td>
      <td>7.310409</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>16466</td>
      <td>7.269587</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>16966</td>
      <td>8.046440</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Local_search</td>
      <td>kroB200</td>
      <td>16718</td>
      <td>11.005593</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>17283</td>
      <td>6.134587</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>16813</td>
      <td>6.250278</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>17304</td>
      <td>5.678809</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>18353</td>
      <td>8.932106</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>16478</td>
      <td>10.054101</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>17539</td>
      <td>9.059761</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>19352</td>
      <td>5.690779</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>19713</td>
      <td>5.488315</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>17946</td>
      <td>5.826447</td>
    </tr>
    <tr>
      <th>0</th>
      <td>LM</td>
      <td>kroB200</td>
      <td>16921</td>
      <td>4.872965</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>26898</td>
      <td>11.938131</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>37855</td>
      <td>8.772568</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>33385</td>
      <td>10.423079</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>38085</td>
      <td>10.175683</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>32760</td>
      <td>10.932777</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>34165</td>
      <td>12.022869</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>32694</td>
      <td>9.484628</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>28645</td>
      <td>10.970617</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>25514</td>
      <td>13.296430</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Candidate_moves</td>
      <td>kroB200</td>
      <td>29575</td>
      <td>12.436761</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
df['cost'] = df['cost'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 0
Data columns (total 4 columns):
strategy    60 non-null object
instance    60 non-null object
cost        60 non-null float64
time        60 non-null float64
dtypes: float64(2), object(2)
memory usage: 2.9+ KB

In [5]:
df_cost = df.groupby(['instance', 'strategy']).agg({'cost' : ['min','mean', 'max']}).astype(int)
df_cost

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3" halign="left">cost</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>min</th>
      <th>mean</th>
      <th>max</th>
    </tr>
    <tr>
      <th>instance</th>
      <th>strategy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">kroA200</th>
      <th>Candidate_moves</th>
      <td>25505</td>
      <td>30876</td>
      <td>35974</td>
    </tr>
    <tr>
      <th>LM</th>
      <td>16717</td>
      <td>17763</td>
      <td>19516</td>
    </tr>
    <tr>
      <th>Local_search</th>
      <td>15658</td>
      <td>17272</td>
      <td>18369</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">kroB200</th>
      <th>Candidate_moves</th>
      <td>25514</td>
      <td>31957</td>
      <td>38085</td>
    </tr>
    <tr>
      <th>LM</th>
      <td>16478</td>
      <td>17770</td>
      <td>19713</td>
    </tr>
    <tr>
      <th>Local_search</th>
      <td>16466</td>
      <td>16959</td>
      <td>17366</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
df_time = df.groupby(['instance','strategy']).agg({'time' : ['min','mean', 'max']}).round(3)
df_time

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3" halign="left">time</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>min</th>
      <th>mean</th>
      <th>max</th>
    </tr>
    <tr>
      <th>instance</th>
      <th>strategy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">kroA200</th>
      <th>Candidate_moves</th>
      <td>10.377</td>
      <td>18.465</td>
      <td>26.797</td>
    </tr>
    <tr>
      <th>LM</th>
      <td>4.822</td>
      <td>6.470</td>
      <td>9.183</td>
    </tr>
    <tr>
      <th>Local_search</th>
      <td>6.552</td>
      <td>11.984</td>
      <td>14.855</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">kroB200</th>
      <th>Candidate_moves</th>
      <td>8.773</td>
      <td>11.045</td>
      <td>13.296</td>
    </tr>
    <tr>
      <th>LM</th>
      <td>4.873</td>
      <td>6.799</td>
      <td>10.054</td>
    </tr>
    <tr>
      <th>Local_search</th>
      <td>7.270</td>
      <td>9.457</td>
      <td>12.728</td>
    </tr>
  </tbody>
</table>
</div>